In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/spatial/todb/hw3/Health_Facility_Certification_Information.csv')
len(df['Facility ID']) - len(df['Facility ID'].unique())

41704

In [3]:
df.dtypes

Facility ID          int64
Facility Name       object
Description         object
Attribute Type      object
Attribute Value     object
Measure Value      float64
County              object
dtype: object

In [4]:
df.head(5)

,Facility ID,Facility Name,Description,Attribute Type,Attribute Value,Measure Value,County
0,1,Albany Medical Center Hospital,Hospital,Bed,AIDS,15.0,Albany
1,1,Albany Medical Center Hospital,Hospital,Bed,Bone Marrow Transplant,6.0,Albany
2,1,Albany Medical Center Hospital,Hospital,Bed,Coronary Care,20.0,Albany
3,1,Albany Medical Center Hospital,Hospital,Bed,Intensive Care,60.0,Albany
4,1,Albany Medical Center Hospital,Hospital,Bed,Maternity,39.0,Albany

In [18]:
df['County'].apply(lambda x: len(x)).max()

14